/*color theme*/
.theme-l5 {color:#000 !important; background-color:#faf3f0 !important}
.theme-l4 {color:#000 !important; background-color:#efd6cc !important}
.theme-l3 {color:#000 !important; background-color:#dfad98 !important}
.theme-l2 {color:#fff !important; background-color:#d08565 !important}
.theme-l1 {color:#fff !important; background-color:#b85f39 !important}
.theme-d1 {color:#fff !important; background-color:#773d25 !important}
.theme-d2 {color:#fff !important; background-color:#6a3721 !important}
.theme-d3 {color:#fff !important; background-color:#5d301d !important}
.theme-d4 {color:#fff !important; background-color:#502918 !important}
.theme-d5 {color:#fff !important; background-color:#422214 !important}

.theme-light {color:#000 !important; background-color:#faf3f0 !important}
.theme-dark {color:#fff !important; background-color:#422214 !important}
.theme-action {color:#fff !important; background-color:#422214 !important}

.theme {color:#fff !important; background-color:#844328 !important}
.text-theme {color:#844328 !important}
.text-theme-l1 {color:#b85f39 !important}
.text-theme-l2 {color:#d08565 !important}
.text-theme-l3 {color:#dfad98 !important}
.text-theme-l4 {color:#efd6cc !important}
.text-theme-l5 {color:#faf3f0 !important}
.text-theme-d1 {color:#773d25 !important}
.text-theme-d2 {color:#6a3721 !important}
.text-theme-d3 {color:#5d301d !important}
.text-theme-d4 {color:#502918 !important}
.text-theme-d5 {color:#422214 !important}
.border-theme {border-color:#844328 !important}

.hover-theme:hover {color:#fff !important; background-color:#844328 !important}
.hover-theme-l1:hover {color:#fff !important; background-color:#b85f39 !important}
.hover-theme-l2:hover {color:#fff !important; background-color:#d08565 !important}
.hover-theme-l3:hover {color:#000 !important; background-color:#dfad98 !important}
.hover-theme-l4:hover {color:#000 !important; background-color:#efd6cc !important}
.hover-theme-l5:hover {color:#000 !important; background-color:#faf3f0 !important}
.hover-theme-d1:hover {color:#fff !important; background-color:#773d25 !important}
.hover-theme-d2:hover {color:#fff !important; background-color:#6a3721 !important}
.hover-theme-d3:hover {color:#fff !important; background-color:#5d301d !important}
.hover-theme-d4:hover {color:#fff !important; background-color:#502918 !important}
.hover-theme-d5:hover {color:#fff !important; background-color:#422214 !important}
.hover-text-theme:hover {color:#844328 !important}
.hover-border-theme:hover {border-color:#844328 !important}

.animate-hover-theme, .animate-hover-theme-d1{-webkit-transition: background-color 0.2s, color 0.2s; -moz-transition: background-color 0.2s, color 0.2s; -o-transition: background-color 0.2s, color 0.2s; transition: background-color 0.2s, color 0.2s }
.animate-hover-theme:hover { color:#fff!important;background-color:#844328!important }
.animate-hover-theme-l1:hover { color:#fff!important;background-color:#b85f39!important }
.animate-hover-theme-l2:hover { color:#fff!important;background-color:#d08565!important }
.animate-hover-theme-l3:hover { color:#000!important;background-color:#dfad98!important }
.animate-hover-theme-l4:hover { color:#000!important;background-color:#efd6cc!important }
.animate-hover-theme-l5:hover { color:#000!important;background-color:#faf3f0!important }
.animate-hover-theme-d1:hover { color:#fff!important;background-color:#773d25!important }
.animate-hover-theme-d2:hover { color:#fff!important;background-color:#6a3721!important }
.animate-hover-theme-d3:hover { color:#fff!important;background-color:#5d301d!important }
.animate-hover-theme-d4:hover { color:#fff!important;background-color:#502918!important }
.animate-hover-theme-d5:hover { color:#fff!important;background-color:#422214!important }

.input, .select{padding-left:0;padding-right:0}
select, input{transition: 0.2s ease all}
select:focus, input:focus{outline: none;border-bottom: 2px solid #844328}

.animate-slow-progress, .animate-slow-progress:hover {-webkit-transition: background-color 1s, color 1s; -moz-transition: background-color 1s, color 1s; -o-transition: background-color 1s, color 1s; transition: background-color 1s, color 1s;color:#844328!important;background-color:#fff!important}
.animate-slow-success, .animate-slow-success:hover {-webkit-transition: background-color 1s, color 1s; -moz-transition: background-color 1s, color 1s; -o-transition: background-color 1s, color 1s; transition: background-color 1s, color 1s;color:#fff!important;background-color:#4CAF50!important}

.animate-hover-white {-webkit-transition: background-color 0.2s, color 0.2s; -moz-transition: background-color 0.2s, color 0.2s; -o-transition: background-color 0.2s, color 0.2s; transition: background-color 0.2s, color 0.2s }
.animate-hover-white:hover { color:#844328!important;background-color:#fff!important }